{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true,
      "decorators": true
    },
    "transform": {
      "react": {
        "throwIfNamespace": true,
        "development": false,
        "refresh": false,
        "runtime": "automatic",
        "useBuiltins": true
      }
    },
    "target": "es2016",
    "loose": true,
    "externalHelpers": true,
    "keepClassNames": true
  },
  "minify": false,
  "sourceMaps": true,
  "isModule": true,
  "module": {
    "type": "es6",
    "strict": true,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  }
}
